backend/src/upload/*.mp4
backend/src/upload/*.mo
*.md
*.mp4
*.mov
*.webm
*.avi
*.mkv
*.flv
*.wmv
*.mpg
*.mpeg
*.m4v
*.m4a
*.m4b
*.m4p
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.doc
*.docx