# lister les fichier qui ne doivent pas se retrouver sur mon repo git

node_modules/

.env
# quand tu ecris .env.* ca dit d'ignorer tous les fichiers qui commencent par .env
.env.local

*.md

logs/
uploads/
uploads/videos/
uploads/covers/
uploads/*

*.mp4
*.mov
*.webm
*.avi
*.mkv
*.flv
*.wmv
*.mpg
*.mpeg
*.m4v
*.m4a
*.m4b
*.m4p
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.doc
*.docx